<ion-content padding="true">
  <!-- <app-slides></app-slides> -->
  <!-- <app-start-button></app-start-button> -->

<ion-grid  >
 
  <ion-row>
<ion-card >
  <img src="assets/images/logo56.jpg" />
<br>
<br>
<br>
<br>
<h1 style="font-weight: bolder;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;" color="dark"> WELCOME</h1>
<br>
<ion-button expand="block" share="round" color="danger" (click)="movetologin()">Start</ion-button>
</ion-card>




  </ion-row>
</ion-grid>
</ion-content>
