<ion-header>
  <ion-toolbar  color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
     My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
                                
<ion-content>


 



  <ion-card class="first-card" >

<img style="height:280px;" src=" assets/images/nice1.jpg" alt="nothing to display" >


<!-- <ion-fab  >
  <ion-fab-button  color="dark">
    <img style="height:280px;" src=" assets/images/person.png" alt="nothing to display" >
  </ion-fab-button>
</ion-fab> -->

    <ion-card   style="margin-top: -40px;border-radius: 15px;background-color: red;" > 
      
      <ion-list>
        <br>
        <ion-item>
          
          <ion-icon color="primary" name="person"></ion-icon>
          <ion-label position="floating" style="font-weight: bold;">{{ first_name }}</ion-label>
          <ion-input autocomplete="off" name="first_name" type="text" [(ngModel)]="postData1.first_name">
          </ion-input>
          <ion-icon color="{{ tickColor1}}" style="margin-left:160px; width: 200px; height: 30px;" (click)="updateFname()" name="checkmark-circle">
          </ion-icon>
        </ion-item>


          <ion-item>
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <ion-label position="floating" style="font-weight: bold;">{{ last_name }}</ion-label>
        <ion-input autocomplete="off" name="last_name" type="text"  [(ngModel)]="postData2.last_name">
        </ion-input>
        <ion-icon  color="{{ tickColor2}}" style="margin-left:160px; width: 200px; height: 30px;" (click)="updateLname()" name="checkmark-circle">
        </ion-icon>
      </ion-item>
<br>
        <ion-item>
          <ion-icon color="primary" name="calendar"></ion-icon>
          <ion-label position="floating">  {{ authUser.user?.date_of_birth }}</ion-label>
          <ion-input  type="bday"></ion-input>
        </ion-item>
<br>
        <ion-item>
          <ion-icon color="primary" name="call"></ion-icon>
          <ion-label position="floating"> {{ phone_number }}</ion-label>
          <ion-input  type="tel" [(ngModel)]="postData3.phone_number"></ion-input>
          <ion-icon  color="{{ tickColor3}}" style="margin-left:160px; width: 200px; height: 30px;" (click)="updateTel()" name="checkmark-circle">
          </ion-icon>
        </ion-item>
<br>
        <ion-item>
          <ion-icon color="primary" name="mail"></ion-icon>
          <ion-label position="floating"> {{ authUser.user?.email }}</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          
          <ion-icon color="{{progressbarColor}}" name="cloud"> </ion-icon>
          <ion-progress-bar style="height: 20px;" color="{{progressbarColor}}" value="{{progressbarValue}}"></ion-progress-bar>
          <ion-label position="floating"> {{newbytes }} of 500MB</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      
     
      </ion-list>

    </ion-card>
    <!-- <ion-button size="full" color="dark" (click)="updateFname()">Update Profile </ion-button >
      <ion-button (click)="updateFname()"> </ion-button > -->
    
</ion-card>
</ion-content>